/* styles.css for w3cx-4of5 */
img.displayed {
  display: block;
  margin: 0 auto;	}
.border {
  border-width: 1px;
  border-color: #778899;  /* dark grayish blue */
  border-style: solid; }

font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", 
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

p { font-size: 15px;
    font-family: Bahnschrift, Inter, Helvetic, sans-serif;
    text-align: left; 
    margin-left: 5px; }
p.em1 {
	margin-left: 1em; }
p.em2 {
	margin-left: 2em; }
p.em3 {
  margin-left: 3em; }
p.em4 {
  margin-left: 4em; }

background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);

pre, code {
  font-family: monospace, monospace;
  font-size: 10px;
}
pre {
  overflow: auto;
}
pre > code {
  display: block;
  padding: 1rem;
  word-wrap: normal;
}
pre:hover, pre:focus { width: min-content; }

a {
  text-decoration: none; 
}
a[href]:hover {
  text-decoration: underline; 
}

div {
  float: left; }

h1 { font-size: 21px;
     font-family: Inter, Georgia, BahnSchrift, sans-serif, Consolas; }
h2 { font-size: 18px;
     font-family: Inter, Georgia, BahnSchrift, sans-serif, Consolas; }
h3 { font-size: 17px;
     font-family: Inter, Georgia, BahnSchrift, sans-serif, Consolas; }
h4 { font-size: 16px;
     font-family: Inter, Georgia, BahnSchrift, sans-serif, Consolas; }
h5 { font-size: 15px;
     font-family: Bahnschrift, Inter, Helvetic, sans-serif; }
h6 { font-size: 10px;
     font-family: Bahnschrift, Inter, Helvetic, sans-serif; }

body {
  font-family: Bahnschrift, Inter, Helvetic, sans-serif;
  font-size: 1.2rem;
  background-color: #EEEEEE;  /* very light gray */
  color: #000000;  /* black */
  text-align: left;
  padding: 10px;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 11px;
    border: none;
    outline: none;
    background-color: #8b0000;  /* dark red */
    color: #fdfeff;  /* very pale (mostly white) blue */
    cursor: pointer;
    padding: 10px;  /* 15px */
    border-radius: 1px;  /* 4px */
  }

  #myBtn:hover {
    background-color: #555;  /* very dark gray */
  }

details {
  font: 11px Inter, sans-serif, Bahnschrift, Calibri;
  width: 75%;
}

details > summary {
  padding: 2px 6px;
  width: 12em;
  background-color: #eee;  /* very light gray */
  border: none;
  box-shadow: 3px 3px 4px #00008b;  /* dark blue */
  cursor: pointer;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #fff;  /* white */
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px #0008b;  /* dark blue */
  cursor: pointer;
}

details[open] > summary {
  background-color: yellow;
}

pre {
  counter-reset: line-numbering;
  background: #2c3e50;  /* very dark desaturated blue */
  padding: 6px 0 7px 0;  /* 12px 0px 14px 0 */
  width: 600px;  /* 600px */
  color: #ecf0f1;  /* light grayish cyan */
  line-height: 100%;
}

pre .line::before {
  content: counter(line-numbering);
  counter-increment: line-numbering;
  padding-right: 1em;
  /* space after numbers */
  padding-left: 8px;
  width: 1.5em;
  text-align: right;
  opacity: 0.5;
  color: white;
}
